.btn-whatsapp {
    display:block;
    width:70px;
    height:70px;
    color: #fff;
    position: fixed;
    right:20px;
    bottom:20px;
    border-radius:50%;
    line-height:80px;
    text-align:center;
    z-index:999;
}

#pesos {
    position: relative;
}

.error {
    color: red;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
}
  
.mensaje {
    color: green;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
}

.botonVaciar {
    margin: auto;
    background-color: #00BBBB;
    color: rgb(255,255,255);
    border-color: #00BBBB;
}

.botonVaciar:hover {
    background-color: #5adddd;
    border-color: #5adddd;
}
  
.borrarProd {
    padding: 3px 5px 3px 5px;
    border-radius: 50%;
    background-color: rgb(133, 46, 46);
    color: white;
    font-size: 11px;
    list-style: none;
    text-decoration: none;
    pointer-events:stroke;
}
  
.imagenCarrito {
    width: 50px;
    height: 50px;
}

/*#cantCarro {

    font-size: 11px;
    position: absolute;
    right: 20.6%;
    top: 1%;
    border: solid rgb(143, 143, 143) 1px;
    border-bottom: 1px;
    border-radius: 50%;
    background-color: rgb(62, 130, 161);
    color: rgb(255, 241, 241);
}*/
  
.blr {
    filter: blur(2px);
}

#recaptcha > div {
    margin: 0 auto .5em;
  }  

.carrito {
    font-size: 12px;
    display: block;
    position: absolute;
    right:10px;
    top: 7%;
    line-height: 12px;
    text-align:center;
    z-index: 1;
    width: 40%;
    background-color: #555555;
    border-radius: 2px;
    padding: 5px 2px 5px 2px;
}
@media (max-width: 800px) {

    .responsiveDisplay {

        display: none;
    
    }

    .carrito {
        font-size: 8px;
        display: block;
        position: absolute;
        left:1px;
        top: 7%;
        line-height: 12px;
        text-align:center;
        z-index: 1;
        width: 80%;
        background-color: #555555;
        border-radius: 2px;
        padding: 5px 50px 5px 0px;
    }

}